<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @building.title %>
</p>

<p>
  <strong>Code:</strong>
  <%= @building.code %>
</p>

<p>
  <strong>Address:</strong>
  <%= @building.address %>
</p>

<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>
