<!DOCTYPE html>
<html>
<head>
  <title>Reservation System - Administration</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link rel="shortcut icon" href="http://danielpudil.cz/img/booking.ico">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Heebo:800" rel="stylesheet">
</head>

<body>
<%= render 'shared/admin' %>

<div class="container">
  <%= yield %>
</div>
</body>
</html>
